{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        {% if LANGUAGE_CODE == 'fa' %}
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>فناوری به عنوان خدمات</h1>
          <h2>رایگان است و رایگان خواهد ماند</h2>
          <div><a href="#about" class="btn-get-started scrollto">سرویس ها</a></div>
        </div>
        {% elif LANGUAGE_CODE == 'ar' %}
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>التكنولوجيا كخدمة</h1>
          <h2>فهو مجاني وسيظل مجانيا. الخدمات جاهزة للواجب! نبدأ الآن</h2>
          <div><a href="#about" class="btn-get-started scrollto">خدمات</a></div>
        </div>
        {% else %}
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Technology as service. we <b>VS</b> all !</h1>
          <h2>It is free and will remain free. The services are ready for duty! Get started now</h2>
          <div><a href="#about" class="btn-get-started scrollto">Services</a></div>
        </div>
        {% endif %}
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->