{% extends 'base.html' %}
{% load static %}
{% block META %}
<meta content="description test" name="description">
<meta content="keywords test" name="keywords">
{% endblock %}
{% block CONTENT %}
<input type="hidden" class="LANGUAGE_CODE" value="{{LANGUAGE_CODE}}">
<input class="first_load" type="number" value="0">
{% include 'utils/header.html' %}
{% include 'utils/hero.html' %}
<main id="main">
    {% include 'utils/sections/services.html' %}
    {% include 'utils/sections/counts.html' %}
{% include 'utils/sections/features.html' %}
</main>
{% include 'utils/footer.html' %}
{% include 'utils/back_to_top.html' %}
<script src="{% static 'assets/js/desktop/index.js' %}"></script>
{% endblock %}