{% extends 'base.html' %}
{% block META %}
<meta content="description test" name="description">
<meta content="keywords test" name="keywords">
{% endblock %}
{% block CONTENT %}
{% include 'utils/header.html' %}
{% include 'utils/hero.html' %}
<main id="main">
{% include 'utils/sections/about.html' %}
{% include 'utils/sections/counts.html' %}
{% include 'utils/sections/services.html' %}
{% include 'utils/sections/features.html' %}
{% include 'utils/sections/last_blog_posts.html' %}
{% include 'utils/sections/pricing.html' %}
{% include 'utils/sections/faq.html' %}
{% include 'utils/sections/contact.html' %}
</main>
{% include 'utils/sections/about.html' %}
{% include 'utils/footer.html' %}
{% include 'utils/back_to_top.html' %}
{% endblock %}